
.rightitem{
  text-decoration: none ;
  h6{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #6F767E;
  }
}

.active{
  h6{
    color: black;
  }
}