@font-face {
    font-family: Heebo-Regular;
    src: url(../fonts/Heebo-Regular.ttf);
  }

  .icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain !important;
    mask-position: center;
    vertical-align: middle;
    background-color: #21243d;
  
    &.icon-fec {
      mask-image: url("./icons/fec.svg");
      &:hover {
        background-color: blue;
      }
    }
    &.icon-insta {
      mask-image: url("./icons/insta.svg");
      &:hover {
        background-color: red;
      }
    }
    &.icon-tw {
      mask-image: url("./icons/tw.svg");
      &:hover {
        background-color: blue;
      }
    }
    &.icon-lin {
      mask-image: url("./icons/Lin.svg");
      &:hover {
        background-color: red;
      }
    }
  }

.footer {
    margin-top: 83px;
   .social-media{
     width: 180px;
     display: flex;
     justify-content: space-around;
     margin: 0 auto;
   }
    h6 {
      margin-top: 26px;
      margin-bottom: 54px;
      font-family: Heebo-Regular;
      font-size: 14px;
      line-height: 21px;
      color: #21243d;
    }
  }