@font-face {
    font-family: Inter-Regular;
    src: url(../../Fonts/Inter-Regular.ttf);
}
.navreg{
    font-family: Inter-Regular;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*logonav and nav icons*/
.logoicon{
    width: 300px;
    height: 58.45px;
    object-fit: cover;
}

.navitem{
    display: flex;
    align-items: center;
    .headericons{
        width: 70px;
        height: 70px;
    }
    h6{
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}

@media  screen and(min-width: 1400px) {
.nav-item2{
    margin: 0 50px;
}
}

@media screen and(max-width: 576px) {
    .logoicon{
        margin-top: 8px;
        width: 230px;
        height: 58.45px;
        object-fit: cover;
    }

    .navitem{

        .headericons{
            width: 44px;
            height: 44px;
        }
        h6{
            font-size: 10px;
            line-height: 14px;
        }
    }
}