
.four {
    margin-top: 30px;
}

.card {
    height: 450px;
}

.card:hover {
    height: 450px !important;
}

.image {
    width: 260px !important;
    height: 260px !important;
    objectFit: cover !important;
}