@font-face {
  font-family: Acrom-Regular;
  font-display: auto;
  src: url(fonts/Acrom-Regular.ttf);
}
@font-face {
  font-family: Acrom-Bold;
  font-display: auto;
  src: url(fonts/Acrom-Bold.ttf);
}
@font-face {
  font-family: Acrom-Medium;
  font-display: auto;
  src: url(fonts/Acrom-Medium.ttf);
}

