@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

$bg: #313942;

*,
*:after,
*:before {
  box-sizing: border-box;
}


.nopage{
  font-family: 'Montserrat', sans-serif;
width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.no404{
  color: $bg;
  font-size: 12.5rem;
  letter-spacing: .10em;
  margin: .025em 0;
  text-shadow: .05em .05em 0 rgba(0,0,0,.35);
  white-space: nowrap;

  @media(max-width: 30rem) {
    font-size: 8.5rem;
  }

  & > span {
    animation: spooky 2s alternate infinite linear;
    color: black;
    display: inline-block;
  }
}
 .errortex{
  color: #717171;
  margin-bottom: .40em;
}

.errortexp{
  color: #717171;
  margin-top: 0;
}

@keyframes spooky {
  from {
    transform: translatey(.15em) scaley(.95);
  }

  to {
    transform: translatey(-.15em);
  }
}