#marka{
  height: 48px;
  background: #F4F4F4;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 10px;
}
.marka2{
  height: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 10px;
}

.inpcor{
  height: 48px;
  background: #F4F4F4;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  border-radius: 10px;
}
.input__wrapper {
  width: 100%;
  position: relative;


  .input__file {
    opacity: 1;
    visibility: hidden;
    position: absolute;
  }

  .input__file-icon-wrapper {
    margin:0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input__file-button {
    height: 48px;
    background: #F4F4F4;
    color: #929292;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
  }
}

