.cardinfocar{
  padding: 10px;
  background: #F6F6F6;
  border-radius: 8px;
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
  }
  h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
  }
  h5{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
  }
  h6{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    span{
      color: rgba(0, 0, 0, 0.6);
    }
  }

}