@font-face {
  font-family: Inter-Medium;
  src: url(../../Fonts/Inter-Medium.ttf);
}

.navinform {
  padding: 14px 30px;

  .btnmen {
    box-shadow: none;
  }

  .offcanvas-start {
    width: 320px;
  }

  .offcanvas-body {
    .menuoption {
      margin-top: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 0;
      border-radius: 5px;

      h6 {
        font-family: Inter-Medium;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1px;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 0;
      }

      &:hover {
        background-color: rgba(0, 150, 219, 0.5);
      }
    }
  }

  .navlogoD {
    width: 189px;
    height: 37px;
    object-fit: cover;
  }

  .navlogoM {
    width: 189px;
    height: 37px;
    object-fit: cover;
  }

  .ulinform {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;

    .litem {
      padding-left: 20px;

      .downBtn {
        display: flex;
        align-items: center;

        .userimg {
          border-radius: 100%;
          overflow: hidden;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }

        h6 {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0.15px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }

  }
}

@media screen and (max-width: 700px) {
  .navinform {
    padding: 10px 0;

    .navlogoD {
      display: none;
    }

    //.navlogoM {
    //  display: block;
    //  width: 189px;
    //  height: 37px;
    //  object-fit: cover;
    //}

    .ulinform {
      padding-left: 0;

      .litem {
        padding-left: 10px;

        .downBtn {
          .userimg {
            border-radius: 100%;
            overflow: hidden;
            width: 30px;
            height: 30px;
            object-fit: cover;
          }

          h6 {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.10px;
          }
        }
      }

    }
  }
}